<div class="footer">
	<div class="footer1">
		<div class="row">
			<div class="col-6">
				<img src="./assets/images/logo white.svg" class="logoimg">
				<br><br>
				<p><b>Taking the ﬁrst step toward wellness and reaching out to a therapist is inherently vulnerable and brave; we will move at a pace that feels safe and respectful of your needs. In our ﬁrst sessions.</b></p>
				<br>
				<a href=""><img src="./assets/images/in.png" class="socialimg-en"> </a> <a href=""> <img src="./assets/images/youtube.png" class="socialimg-en"> </a><a href=""> <img src="./assets/images/facebook.png" class="socialfacebookimg-en"> </a>
			</div>
			<div class="col-1">
				
			</div>
			<div class="col-5">
				<br>
				<h2><b>CONTACT US</b></h2>
				<br>
				<h4><b>Address </b></h4>
				<p>79 Nasr Street, Near to Tiba Mall, Cairo, Egypt</p>
				<h4><b>Phone</b></h4>
				<p>01022630411</p>
				<h4><b>Email Address</b></h4>
				<p>info@doctornafsy.com</p>

 
 
			</div>
		</div>
	</div>
	<div class="footer2">
		<div class="row">
			<div class="col-5 align-start">
				<p> <a routerLink="/terms">Terms and Conditions</a>&nbsp; | &nbsp;<a routerLink="/privacy">Privacy Policy</a></p>  
			</div>
			<div class="col-7 align-end">
				<p> © 2019 DOCTOR NAFSY All Rights Reserved | Design by Innovitics Inc.</p>
			</div>
		</div>
	</div>
</div>

<div class="footerresp">
	<div class="footer1">
		<div class="row">
			<div class="col-5">
				<img src="./assets/images/logo white.svg" class="logoimg">
				<br><br>
				<a href=""><img src="./assets/images/in.png" class="socialimg-en"> </a> <a href=""> <img src="./assets/images/youtube.png" class="socialimg-en"> </a><a href=""> <img src="./assets/images/facebook.png" class="socialfacebookimg-en"> </a>
			</div>
			
			<div class="col-7">
				<h2><b>CONTACT US</b></h2>
				<br>
				<h4><b>Address </b></h4>
				<p>79 Nasr Street, Near to Tiba Mall, Cairo, Egypt</p>
				<h4><b>Phone</b></h4>
				<p>01022630411</p>
				<h4><b>Email Address</b></h4>
				<p>info@doctornafsy.com</p>

 
 
			</div>
		</div>
	</div>
	<div class="footer2">
		<div class="row">
			<div class="col-12 align-center">
				<p> <a routerLink="/terms">Terms and Conditions</a>&nbsp; | &nbsp;<a routerLink="/privacy">Privacy Policy</a></p>  
			</div>
			<div class="col-12 align-center">
				<p> © 2019 DOCTOR NAFSY All Rights Reserved | Design by Innovitics Inc.</p>
			</div>
		</div>
	</div>
</div>
