.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.footer1{
	background: #0a1e2d;
	color: #fff;
    padding: 55px 50px 40px 50px;
    font-size: 14px;
}
.footer1 h4{
    margin-bottom: 0rem;
}
.socialimg-en{
    width: 19px;
    margin: 0 20px 0 0px;
}
.socialfacebookimg-en{
    width: 11px;
    margin: 0 20px 0 0px;
}

.logoimg{
    width: 166px;
    margin: 0 -10px 0 -10px;
}

.footer2{
	background: #061219;
	color: #fff;
    padding: 18px 50px 18px 50px;
}
.footer2 a{
	color: #fff;
    text-decoration: underline;
}
.footer2 p{
    margin-bottom: 0rem;
}

.footer{
    display: block;
}
.footerresp{
    display: none;
}
@media screen and (max-width: 1024px) {
    .footer{
        display: none;
    }
    .footerresp{
        display: block;
    }
    .footer1 {
        padding: 55px 20px 40px 20px;
        font-size: 10px;
    }
    .logoimg {
        width: 144px;
        margin: -5px -10px 0 -10px;
    }
    .socialimg-en {
        width: 17px;
        margin: 0 15px 0 0px;
    }
    .socialfacebookimg-en {
        width: 9px;
        margin: 0 9px 0 9px;
    }
    .socialimg-en {
        width: 17px;
        margin: 0 9px 0 9px;
    }
    .footer2 {
        padding: 18px 14px 18px 14px;
        font-size: 10px;
    }

}