.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}

.homepg{
	color: #0a1e2d;
    margin-top: 129px
}
.homeimg {
	width: 100%;
	height: 100%;
}
.aboutdr{
	font-size: 15px;
    padding: 0 80px 0 80px;
    color: #19456b;
}
.aboutdrresp{
	display: none;
}
.sigimg{
	width: 216px;
    margin: -16px 7px 17px 7px;
}

.drimg{
	width: 100%;
	height: 590px;
}
.arrowimg{
    width: 19px;
}
.online{
	background: #edf7f5;
	text-align: center;
	padding: 50px 80px 80px 80px;
	font-size: 18px;
	color: #19456b;
}
.onlineresp{
	display: none;
}
.onlineimg {
    width: 86%;
    margin: 12px 0 12px 0;	

}
.online h3{
	font-family: Proxima Nova Bl;
}
.online::ng-deep.mat-raised-button {
    background: #20cbaf;
    color: #fff;
    height: 43px;
    width: 27%;
    margin-top: 66px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.articles {
	background: #fff;
	padding: 50px 80px 80px 80px;
	font-size: 14px;
}

.articleimg{
	position: relative;
    height: 250px;
    border-bottom: 8px solid #20cbaf;
}
.date{
    position: absolute;
    top: 0px;
    right: 16px;
    color: #19456b;
    background: #20cbaf;
    text-align: center;
    padding: 8px 7px 0 7px;
    font-size: 10px;
}
.date h5{
	margin-bottom: 0;
}
.artimg{
	width: 100%;
	height: 100%;
}
.articlebox{
    margin-top: 45px;
    border: 1px solid #cccccc;
}
.articledetails{
    padding: 16px 15px 0 15px;
}


.bg{
	position: relative;
}
.title{
	position: absolute;
    top: 190px;
    left: 88px;
    width: 31%;
}


.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.therapy{
	background: #20cbaf;
    padding: 140px 70px 91px 58px;
    font-size: 17px;
    color: #0a1e2d;
}
.therapyresp{
	display: none;
}
.laptopimg{
	width: 105%;
    margin-top: -70px;
}

.therapy::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.videopart{
	background: #edf7f5;
    font-size: 15px;
    color: #0a1e2d;
    font-weight: 900;
    position: relative;
    height: 350px;
}
.videostyle{
	margin-top: -125px;
    width: 100%;
    height: 240%;
}

.videopart-en{
	padding: 80px 0px 80px 80px;
}
.videostyleresp{
	display: none;
}
.videopartresp{
	display: none;
}
.seemore{
	font-size: 14px;
    font-family: Proxima Nova Bl;
}


.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}
.colorgreen{
	color: #20cbaf;
}

/* --------- arabic css ---------- */

.videopart-ar{
	padding: 80px 80px 80px 0px;
}






/* --------- media ---------- */

@media screen and (max-width: 1260px) {
	.laptopimg {
	    width: 100%;
	    margin-top: -15px;
	}
	.therapy {
	    padding: 90px 70px 80px 58px;  
	}

}
@media screen and (max-width: 1170px) {

	.videostyle {
	  
	    height: 210%;
	}
}

@media screen and (max-width: 1090px) {
	.homepg {
	    margin-top: 115px;
	}
	.title {
	    top: 141px;
	    left: 77px;
	}
	.aboutdr {
	    font-size: 14px;
	    padding: 0 40px 0 40px;
	}
	.arrowimg {
	    width: 18px;
	}
	.therapy {
	    padding: 90px 26px 80px 26px;
	}
	.laptopimg {
	    width: 107%;
	    margin-top: 10px;
	}
	.videostyle {
	  
	    height: 210%;
	}
}


@media screen and (max-width: 1024px) {
    .homepg {
	    margin-top: 62px;
	}
	.title {
	    top: 200px;
	    left: 9px;
	    width: 36%;
	}
	.title  h1 {
	    font-size: 19px;
	}

	.title h3 {
	    font-size: 15px;
	}
	.title p {
	    font-size: 7px;
	}
	.title::ng-deep.mat-raised-button {
	    width: 90%;
	    height: 34px;
	    font-size: 13px;
	    margin-top: 25px;
	    border-radius: 0;
	    margin-left: 150%;
	}
	.aboutdr{
		display: none;
	}
	.aboutdrresp{
		display: block;
		font-size: 12px;
	    padding: 0 25px 0 25px;
	    color: #19456b;
	}
	.drimg {
	    width: 111%;
	    height: 127px;
	}
	.sigimg {
	    width: 125px;
	    margin: -9px 7px 17px 7px;
	}
	.aboutdrresp  h1 {
	    font-size: 19px;
	}
	.aboutdrresp  h2 {
	    font-size: 17px;
	}
	.online{
		display: none;
	}
	.onlineresp{
		display: block;
		background: #edf7f5;
		text-align: center;
		padding: 30px 30px 40px 30px;
		font-size: 12px;
		color: #19456b;
	}
	.onlineresp::ng-deep.mat-raised-button {
	    background: #20cbaf;
	    color: #fff;
	    height: 34px;
	    width: 75%;
	    margin-top: 66px;
	    border-radius: 0;
	}
	.onlineimgarrow{
		height: 80px;
    	width: 18%;
	}
	.onlineimg {
	    width: 54%;
	    margin: 0px 0 0px 0;
	}
	.onlineresp h3{
		margin-bottom: 3px;
		font-family: Proxima Nova Bl;
		margin-top: 8px;
	}
	.articles {
	    padding: 30px 35px 40px 35px;
	    font-size: 12px;
	}
	.seemore {
	    font-size: 12px;
	}
	.articleimg {
	    height: 230px;
	    border-bottom: 6px solid #20cbaf;
	}
	.articlebox {
	    margin-top: 30px;
	}
	.therapy{
		display: none;
	}
	.therapyresp{
		display: block;
		background: #20cbaf;
        padding: 0px 25px 8px 25px;
    	font-size: 14px;
	    color: #0a1e2d;
	}
	.therapyresp::ng-deep.mat-raised-button {
	    background: #fff;
	    color: #0a1e2d;
	    width: 100%;
	    height: 34px;
	    margin-top: 50px;
	    border-radius: 0;
	}
	.videopart-en {
	    padding: 28px 20px 40px 20px;
	}
	.videostyle{
		display: none;
	}
	.videostyleresp{
	    display: block;
	    width: 87%;
	    height: 210px;
	    margin-top: -60px;
	}
	.videopartresp{
	    position: relative;
	    margin: 0 0 30px 0;
	    text-align: -webkit-center;
	    display: block;
	}

}


@media screen and (max-width: 600px) {
	.title {
	    top: 10px;
	    left: 9px;
	    width: 36%;
	}
}
@media screen and (max-width: 330px) {
	.homepg {
	    margin-top: 56px;
	}
	.title {
	    top: 8px;
	    left: 8px;
	    width: 39%;
        font-size: 4px;
	}
	.title h1 {
	    font-size: 16px;
	}
	.title h3 {
	    font-size: 13px;
	}
	.title::ng-deep.mat-raised-button {
	    height: 32px;
	    font-size: 12px;
	    line-height: 1;
	}
	.logoimg {
	    width: 132px;
	}	
}