<div class="homepg">
	<div class="bg">
		 <img src="./assets/images/1.png" class="homeimg"> 
		 <div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>Start your online session with your therapist</b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Privately anytime... anywhere</b></h3>
		 			<button routerLink="/makeappointment" mat-raised-button><b>START NOW</b></button>
		 		</div>
		 		
		 	</div>
		 </div>
	</div>
	<div class="aboutdr">
		<div class="row">
			<div class="col-6">
				<img src="./assets/images/dr.png" class="drimg"> 
			</div>
			<div class="col-6">
				<h1 ><b>About Dr. Nafsy</b></h1>
				<br>
				<p class="colorgrey align-justify">In therapy, I help clients recognize the maladaptive patterns and harmful hidden systems that may be holding them back, and we work together to co-create a happier and healthier way of being in the world. As a professor at Columbia University and the Director of Clinical Training for the counseling psychology PhD program, my research focuses on how negative life experiences impact stress and well-being.</p>

				<div class="row">
					<div class="col-12 align-end">
						<img src="./assets/images/signature.png" class="sigimg"> 
					</div>
				</div>

				<h2><b>How Can We Help You</b></h2>
				<br>
				<div class="row colorgrey">
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"> <b> Neurodevelopmental Disorders</b></p>
					</div>
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Bipolar and Related Disorders</b> </p>
					</div>

					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Anxiety Disorders</b></p>
					</div>
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Trauma Disorders</b></p>
					</div>
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Dissociative Disorders</b></p>
					</div>
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Somatic Symptom Disorders</b></p>
					</div>
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Sleep - Wake Disorders</b></p>
					</div>
					<div class="col-lg-6">
						<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Neurocognitive  Disorders</b></p>
					</div>







				</div>

			</div>
		</div>
		
		
	</div>
	<div class="aboutdrresp">
		<div class="row">
			<div class="col-3">
				<img src="./assets/images/dr.png" class="drimg"> 
			</div>
			<div class="col-9">
				<h1 ><b>About Dr. Nafsy</b></h1>
				
				<p class="colorgrey align-justify">In therapy, I help clients recognize the maladaptive patterns and harmful hidden systems that may be holding them back, and we work together to co-create a happier and healthier way of being in the world. As a professor at Columbia University and the Director of Clinical Training for the counseling psychology PhD program, my research focuses on how negative life experiences impact stress and well-being.</p>

				<div class="row">
					<div class="col-12 align-end">
						<img src="./assets/images/signature.png" class="sigimg"> 
					</div>
				</div>

			</div>


		</div>
		
			<h2><b>How Can We Help You</b></h2>
			<br>
			<div class="row colorgrey">
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"> <b> Neurodevelopmental Disorders</b></p>
				</div>
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Bipolar and Related Disorders</b> </p>
				</div>

				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Anxiety Disorders</b></p>
				</div>
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Trauma Disorders</b></p>
				</div>
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Dissociative Disorders</b></p>
				</div>
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Somatic Symptom Disorders</b></p>
				</div>
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Sleep - Wake Disorders</b></p>
				</div>
				<div class="col-12">
					<p><img src="./assets/images/arrow.png" class="arrowimg"><b> Neurocognitive  Disorders</b></p>
				</div>

			</div>
		
	</div>
	<div class="online">
		<h1 class="colorlightblue"><b>Get Online Consultation</b></h1>
		<img src="./assets/images/set.svg" class="onlineimg"> 
		<div class="row colordarkblue">
			<div class="col-4">
				<h3><b>Reserve</b></h3>
				<p><b>Select your suitable date and time</b></p>
			</div>
			<div class="col-4">
				<h3><b>Stay Online</b></h3>
				<p><b>Be ready for the online session on time</b></p>
			</div>
			<div class="col-4">
				<h3><b>Talk</b></h3>
				<p><b>Talk to your therapist privately</b></p>	
			</div>
		</div>
		<button mat-raised-button><b>GET STARTED</b></button>
	</div>

	<div class="onlineresp">
		<h1 class="colorlightblue"><b>Get Online Consultation</b></h1>
		 <br>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/reserve.png" class="onlineimg">
			</div>
			<div class="col-6">
				<h3><b>Reserve</b></h3>
				<p><b>Select your suitable date and time</b></p>
				
			</div>
			
		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/arrows.png" class="onlineimgarrow">
			</div>
			<div class="col-6">
					
			</div>
			
		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/stay online.png" class="onlineimg">
			</div>
			<div class="col-6">
				
				<h3><b>Stay Online</b></h3>
				<p><b>Be ready for the online session on time</b></p>
					
			</div>
			
		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/arrows.png" class="onlineimgarrow">
			</div>
			<div class="col-6">
				
			</div>
			
		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/talk.png" class="onlineimg">
			</div>
			<div class="col-6">
				<h3><b>Talk</b></h3>
				<p><b>Talk to your therapist privately</b></p>	
			</div>
			
		</div>
		<button mat-raised-button><b>GET STARTED</b></button>
	</div>

	<div class="articles">
		<div class="colorlightblue">
			<h1 class="align-center "><b >Recent Articles</b></h1>
		</div>
		<p class="align-center colorgreen"><b>SEE MORE ARTICLES</b></p>
		<div class="row">
			<div class="col-md-4">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/2.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Bipolar and Related Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore">READ MORE</p>
					</div> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/3.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Neurodevelopmental Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore">READ MORE</p>
					</div> 
				</div>
			</div>
			<div class="col-md-4">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/4.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Anxiety Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore">READ MORE</p>
					</div> 
				</div>
			</div>
		</div>
	</div>     
	<div class="therapy">
		<div class="row">
			<div class="col-6">
				<img src="./assets/images/5.png" class="laptopimg">
			</div>
			<div class="col-5">
				<br><br>
				<h1><b>Therapy when you need it</b></h1>
				<br>
				<p><b>Schedule a live session at a time that's convenient for you. Connect from your laptop anywhere</b></p>
				<button mat-raised-button><b>GET STARTED</b></button>
			</div>
		</div>
	</div>

	<div class="therapyresp">
		<div class="row">
			
			<div class="col-12">
				<br><br>
				<h1><b>Therapy when you need it</b></h1>
				<br>
				<p><b>Schedule a live session at a time that's convenient for you. Connect from your laptop anywhere</b></p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<img src="./assets/images/5.png" class="laptopimg">
			</div>
			<div class="col-6">
				<button mat-raised-button><b>GET STARTED</b></button>
			</div>
		</div>
	</div>




	<div class="videopart videopart-en">
		<div class="row">
			<div class="col-md-6">
				<h2><b>Trauma and Stressor-Related Disorders</b></h2>
				<br>
				<div class="row">
					<div class="col-11">
						
						<p>Trauma- and stressor-related disorders involve the exposure to a stressful or traumatic event.6    These were previously grouped with the anxiety disorders but are now considered a distinct category of disorders</p>
						<p class="colorgreen seemore">SEE MORE  VIDEOS</p>
					</div>
					<div class="col-1">
						
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<embed class="videostyle" src="https://www.youtube.com/embed/tgbNymZ7vqY">

				<!-- <iframe class="videostyle"
					src="https://www.youtube.com/embed/tgbNymZ7vqY">
				</iframe> -->
                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Kw8fHJQtTKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
				 
			</div>
		</div>
	</div>
	<div class="videopartresp">
		<embed class="videostyleresp" src="https://www.youtube.com/embed/tgbNymZ7vqY">
	</div>
</div>
<app-navbar></app-navbar>
<app-footer></app-footer>
