<div class="notresponsive">
	<div class="shadow">
		<div class="navbar1 navbar1-en">
			<div class="row">
				<div class="col-5 arabicpadding">
					<p class="pnavpadding"><span  class="fontarabic">عربي  </span> <span class="loginpadding-en cursorpointer" data-toggle="modal" data-target="#sgininpopup"><img src="./assets/images/login.png" class="loginimg">&nbsp; Login</span> <span class="regpadding cursorpointer" data-toggle="modal" data-target="#sginuppopup"><img src="./assets/images/add.png" class="loginimg">&nbsp; Register</span></p>
				</div>
				<!-- <div class="col-1 align-center border-en">
					
				</div>
				<div class="col-1 align-center">
					
				</div>
	 -->
				<div class="col-2">
					
				</div>
				<div class="col-3 align-end">
					<a href=""><img src="./assets/images/in.png" class="socialimg"> </a> <a href=""> <img src="./assets/images/youtube.png" class="socialimg"> </a><a href=""> <img src="./assets/images/facebook.png" class="socialfacebookimg"> </a>
				</div>
				<div class="col-2 appointment">
					<h5 class="cursorpointer" routerLink="/makeappointment"><b>MAKE APPOINTMENT</b></h5>
				</div>
				
			</div>
		</div>
		<div class="navbar2 navbar2-en">
			<div class="row">
				<div class="col-2">
					<img src="./assets/images/logo.svg" class="logoimg">
				</div>
				<div class="col-4">
					
				</div>
				<div class="col-6 align-end">
					<nav class="navbar navbar-expand-sm ">

					  <!-- Links -->
					  <ul class="navbar-nav">
					    <li class="nav-item">
					      <a class="nav-link" routerLink=""><b>HOME</b></a>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" routerLink="/aboutus"><b>ABOUT US</b></a>
					    </li>

					    <!-- Dropdown -->
					    <li class="nav-item dropdown">
					      <p class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
					      <b> MEDIA</b>
					      </p>
					      <div class="dropdown-menu">
					        <a class="dropdown-item" routerLink="/videos">Videos</a>
					        <a class="dropdown-item" routerLink="/articles">Articles </a>
					      </div>
					    </li>
					    <li class="nav-item">
					      <a class="nav-link" routerLink="/countactus"><b>CONTACT US</b></a>
					    </li>
					  </ul>
					</nav>
					
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="responsive">
	<div class="shadow">
		<div class="navbar1 navbar1-en">
			<header class="header">
				
			  <img src="./assets/images/logo white.svg" class="logoimg">
			  <span> <span class="loginpadding-en"><img src="./assets/images/login.png" class="loginimg" data-toggle="modal" data-target="#sgininpopup">&nbsp; Login</span> <span class="regpadding cursorpointer" data-toggle="modal" data-target="#sginuppopup"><img src="./assets/images/add.png" class="loginimg cursorpointer">&nbsp; Register</span> <span  class="fontarabic">عربي  </span></span>

			  <input class="menu-btn" type="checkbox" id="menu-btn" />
			  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
			  <ul class="menu">
			    <li><a routerLink="">HOME</a></li>
			    <li><a routerLink="/aboutus">ABOUT US</a></li>
				<li><a routerLink="/articles">MEDIA</a></li>
			    <li><a routerLink="/countactus">CONTACT US</a></li>
			  </ul>
			</header>
			<!-- <div class="row">
				<div class="col-3">
					<img src="./assets/images/logo white.svg" class="logoimg">
				</div>
				<div class="col-9">
					<p><span class="loginpadding-en">Login</span> <span class="regpadding">Register</span><span  class="fontarabic">عربي  </span> </p>

					
				</div>
				
			</div> -->
		</div>
	</div>
</div>		

<app-popuplogin></app-popuplogin>
<app-popupsignup></app-popupsignup>