.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.shadow{
    box-shadow: 3px 0 9px 3px #67676b61;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.navbar1{
    background: #0a1e2d;
    color: #fff;  
}
.navbar1-en{
    padding: 10px 85px 10px 85px;
}
.navbar1 p{
  margin-bottom: 0rem;
}
.arabicpadding{
  margin: -10px 0 -10px 0;
}
.pnavpadding{
  padding: 10px 0 10px 0px;
}
.fontarabic{
	font-family: "JF Flat Regular";
  background: #19456b;
  padding: 10px 15px 8px 15px;
}
.fontarabic:hover{
  background: #20cbaf;
}
.loginimg{
	width: 18px;
}
.socialimg{
    width: 19px;
    margin: 0 13px 0 13px;
}
.socialfacebookimg{
    width: 11px;
    margin: 0 13px 0 13px;
}
.appointment{
    background: #20cbaf;
    margin: -10px 0 -10px 0;
    padding: 10px 0 10px 0px;
    text-align: center;
}
.appointment h5{
    margin-bottom: 0rem;
}
.loginpadding-en{
    padding: 0px 20px 0 20px;
    border-right: 1px solid;
}
.regpadding{
    padding: 0px 20px 0 20px;
}
.navbar2{
    padding: 15px 85px 15px 85px;
    background-color: #fff;
}
.navbar2 a{
	color: #19456b;
}
.navbar2 a:hover, .navbar2 a:active{
    color: #20cbaf;
    background: #fff;
}
.navbar2 p{
  color: #19456b;
  cursor: pointer;
  margin-bottom: 0px;
}
.navbar2 p:hover{
    color: #20cbaf;
}
.cursorpointer{
  cursor: pointer;
}
.nav-item{
    padding: 13px 20px 0px 20px;
    font-size: 14px;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
  
}
.navbar-expand-sm {
    justify-content: flex-end;
}
.navbar {
    padding: .5rem 0rem;
}

.logoimg{
    width: 166px;
}





/* ----- resp nav -------*/


/* header */

.header {
  /*background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;*/
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
  
}

.header li a {
  display: block;
  padding: 14px 20px;
  color: #20cbaf;
  text-decoration: none;
  font-size: 17px;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #edf7f5;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 19px 13px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #20cbaf;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 19px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #20cbaf;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: fit-content;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

.responsive{
  display: none;
}
.notresponsive{
  display: block;
}

@media (min-width: 1024px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
 
}

/* ----- resp nav -------*/

/* ----- arabic ------ */

.border-ar{
	border-right: 1px solid #fff;
}
.navbar1-ar{
	padding: 9px 65px 9px 85px;
}









/* ----------------- media ----------------- */

@media screen and (max-width: 1360px) {
    .loginimg {
        width: 15px;
    }
    .navbar1-en {
        padding: 10px 75px 10px 75px;
    }
    .navbar2 {
        padding: 15px 70px 15px 70px;
    }
    .nav-item {
        padding: 13px 20px 0px 20px;
        font-size: 13px;
    }
    .socialimg {
        width: 18px;

    }
    .socialfacebookimg {
        width: 10px;
        margin: 0 13px 0 13px;
    }
}



@media screen and (max-width: 1150px) {
    .navbar2  {
        padding: 15px 55px 15px 55px;
    }
    .navbar1-en {
        padding: 10px 68px 10px 63px;
    }
    .nav-item {
        padding: 13px 15px 0px 15px;
    }
    .appointment h5{
       font-size: 15px;

    }
}


@media screen and (max-width: 1090px) {
 .appointment h5{
    font-size: 15px;

  }
  .socialimg {
    width: 16px;

  }
  .socialfacebookimg {
    width: 9px;
 
  }
  .loginimg {
    width: 14px;
  }
  .navbar1 p {
    margin-bottom: 0rem;
    font-size: 11px;
  }
  .logoimg {
    width: 148px;
  }
  .nav-item {
    font-size: 12px;
  }
  .navbar2 {
    padding: 8px 55px 8px 55px;
  }

}


@media screen and (max-width: 1024px) {
  .navbar1-en {
    padding: 8px 10px 8px 10px;
  }
  .logoimg {
    width: 14%;
  }
  .navbar1 p {
    font-size: 12px;
    margin-top: 2px;
  }

  .loginpadding-en{
      padding: 0px 9px 0 9px;
  }
  .regpadding{
    padding: 0px 9px 0 9px;
  }
  .fontarabic{
    padding: 9px 10px 9px 10px;
  }
  .responsive{
    display: block;
  }
  .notresponsive{
    display: none;
  }


}

@media screen and (max-width: 375px) {
  
  .loginpadding-en{
    padding: 0px 6px 0 6px;
  }
  .regpadding{
    padding: 0px 6px 0 6px;
  }
  .fontarabic{
 /*   padding: 0px 6px 0 6px;*/
  }
  .header .menu-icon {
    padding: 15px 8px;
  }
  .navbar1 span{
    font-size: 10px;
  }


}