.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}

.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}


.aboutus{
	color: #0a1e2d;
    margin-top: 132px
}

/* ---- first part ---- */
.homeimg {
	width: 100%;
	height: 100%;
}
.bg{
	position: relative;
}
.title{
	position: absolute;
    top: 190px;
    left: 88px;
    width: 30%;
}


.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


/* ----- about dr nafsy ------*/

.aboutdrimg{
	width: 100%;
	height: 590px;
}
.aboutdr{
	font-size: 15px;
    padding: 30px 80px 80px 80px;
    color: #19456b;
    position: relative;

}
.aboutdrresp{
	display: none;
}
.aboutdrtext{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.aboutdr::ng-deep.mat-raised-button {
    background: #20cbaf;
    color: #fff;
    width: 39%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

/* ----- about the dr -------*/
.aboutthedr{
	font-size: 15px;
    padding: 55px 80px 0 80px;
    color: #19456b;
    background: #edf7f5;
    height: fit-content;
    position: relative;
}
.aboutthedr p {
	margin-bottom: 2px;
}
.arrowimg{
    width: 18px;
}
.drimg{
	width: 100%;
	height: 100%;
	position: absolute;
}

.paddingrow{
	padding-bottom: 55px;
}
.paddcol{
    margin-bottom: 40px;
}

/* ---- help ---- */

.helpyou{
    padding: 80px 80px 80px 80px;
    color: #19456b;
    text-align: center;
}
.helpyouresp{
   display: none;
}
.boxes{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 16px 0 16px 0;
}
.boxes h4{
	margin-bottom: 0;
}
.boximg{
	width: 90px;

}


/* --------- media ---------- */

@media screen and (max-width: 1300px) {
	.aboutthedr {
	    font-size: 13px;
	   
	}
	
}
@media screen and (max-width: 1200px) {
	.aboutdr {
	    font-size: 14px;
	    padding: 30px 70px 70px 70px;
	}
	.aboutdrimg {
	    height: 550px;
	}
	.boximg {
	    width: 70px;
	}
}

@media screen and (max-width: 1090px) {
	.homepg {
	    margin-top: 115px;
	}
	.title {
	    top: 141px;
	    left: 77px;
	}
	.aboutdr {
	    font-size: 14px;
	    padding: 30px 40px 40px 40px;
	}
	.arrowimg {
	    width: 18px;
	}
	.therapy {
	    padding: 90px 26px 80px 26px;
	}
	.laptopimg {
	    width: 107%;
	    margin-top: 10px;
	}
	
}

@media screen and (max-width: 1024px) {
    .aboutus {
	    margin-top: 62px;
	}
	.title {
	    top: 200px;
	    left: 9px;
	    width: 36%;
	}
	.title  h1 {
	    font-size: 19px;
	}

	.title h3 {
	    font-size: 15px;
	}
	.title p {
	    font-size: 7px;
	}
	.title::ng-deep.mat-raised-button {
	    width: 90%;
	    height: 34px;
	    font-size: 13px;
	    margin-top: 25px;
	    border-radius: 0;
	    margin-left: 150%;
	}
	.aboutdrresp{
		display: block;
		font-size: 14px;
	    padding: 30px 35px 70px 35px;
        color: #19456b;
	}
	.aboutdr{
		display: none;
	}
	.aboutdrresp::ng-deep.mat-raised-button {
	    background: #20cbaf;
	    color: #fff;
	    width: 100%;
	    height: 34px;
	    margin-top: 50px;
	    border-radius: 0;
	    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	}
	.aboutdrimg {
	    height: 325px;
	}
	.helpyouresp{
		display: block;
	    padding: 40px 25px 40px 25px;
	    color: #19456b;
	    text-align: center;
	}
	.helpyou{
	   display: none;
	}
	h4 {
	    font-size: 12px;
	}
	.aboutthedr{
		padding: 55px 25px 0 25px;
	}



}
@media screen and (max-width: 766px) {
 .drimg{
 	display: none;
 }
}
@media screen and (max-width: 600px) {
	.title {
	    top: 10px;
	    left: 9px;
	    width: 36%;
	}
}