<div class="aboutus">
	<div class="bg">
		<img src="./assets/images/about1.png" class="homeimg"> 
		<div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>About Us</b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Find your online therapist, Privately anytime... anywhere</b></h3>
		 			<button mat-raised-button><b>START NOW</b></button>
		 		</div>
		 		
		 	</div>
		</div>
	</div>
	<!-- about dr web  -->
	<div class="aboutdr">
		<div class="row">
			<div class="col-6">
				<img src="./assets/images/about2.jpg" class="aboutdrimg"> 
			</div>
			<div class="col-6">
				<div class="aboutdrtext">
					<h1 ><b>About Dr. Nafsy</b></h1>
					<br>
					<p class="colorgrey align-justify">In therapy, I help clients recognize the maladaptive patterns and harmful hidden systems that may be holding them back, and we work together to co-create a happier and healthier way of being in the world. As a professor at Columbia University and the Director of Clinical Training for the counseling psychology PhD program, my research focuses on how negative life experiences impact stress and well-being, and how this may be magniﬁed for people from historically disempowered groups. Our clinical work can cover a broad array of issues ranging from identity development and career empowerment to recovery from trauma and sexual violence. People in New York are often so busy that their inner lives operate on autopilot, largely unaware of their thoughts, feelings, and desires. In that way, the path towardare  you.</p>

					<div class="row">
						<div class="col-12 align-end">
							<button mat-raised-button><b>GET STARTED</b></button> 
						</div>
					</div>
				</div>
					
			</div>
		</div>		
	</div>
    <!-- about dr mob  -->
    <div class="aboutdrresp ">
		<div class="row">
			<div class="col-12">
				<h1 class="align-center"><b>About Dr. Nafsy</b></h1>
				<img src="./assets/images/about2.jpg" class="aboutdrimg"> 
			</div>
			<div class="col-12">
				<div class="">
					
					<br>
					<p class="colorgrey align-justify">In therapy, I help clients recognize the maladaptive patterns and harmful hidden systems that may be holding them back, and we work together to co-create a happier and healthier way of being in the world. As a professor at Columbia University and the Director of Clinical Training for the counseling psychology PhD program, my research focuses on how negative life experiences impact stress and well-being, and how this may be magniﬁed for people from historically disempowered groups. Our clinical work can cover a broad array of issues ranging from identity development and career empowerment to recovery from trauma and sexual violence. People in New York are often so busy that their inner lives operate on autopilot, largely unaware of their thoughts, feelings, and desires. In that way, the path towardare  you.</p>

					<div class="row">
						<div class="col-12 align-center">
							<button mat-raised-button><b>GET STARTED</b></button> 
						</div>
					</div>
				</div>
					
			</div>
		</div>		
	</div>




	<div class="aboutthedr">
		<div class="row">
			
			<div class="col-md-6">
				<h1 ><b>About Dr. Nafsy</b></h1>
				<h4><b>Psychiatry Specialist</b></h4>
				<br>
				<div class="paddingrow">
					<div class="row colorgrey">
						<div class="col-12">
							<h5><b>Past Experience:</b></h5>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<br>
						</div>
						<div class="col-12">
							<h5><b>Certiﬁcates:</b></h5>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<br>
						</div>
						<div class="col-12">
							<h5><b>Scientiﬁc Publications:</b></h5>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							<p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							
						</div>

					</div>
				
				</div>

					

				
			</div>
			<div class="col-md-6">
				<img src="./assets/images/dr.png" class="drimg"> 
			</div>
		</div>
	
	</div>
	<div class="helpyou">
		<h1 ><b>How Can We Help You</b></h1>
		<br><br>
		<div class="row">
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/neuro.png" class="boximg">
					<h4><b>Neurodevelopmental</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/anxiety.png" class="boximg">
					<h4><b>Anxiety</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/dissociative.png" class="boximg">
					<h4><b>Dissociative</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/addiction.png" class="boximg">
					<h4><b>Addiction</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 paddcol">
				<div class="boxes ">
					<img src="./assets/images/anxiety.png" class="boximg">
					<h4><b>Anxiety</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/neuro.png" class="boximg">
					<h4><b>Neurodevelopmental</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/addiction.png" class="boximg">
					<h4><b>Addiction</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-lg-3 paddcol">
				<div class="boxes">
					<img src="./assets/images/dissociative.png" class="boximg">
					<h4><b>Dissociative</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			
		</div>
	</div>

	<div class="helpyouresp">
		<h1 ><b>How Can We Help You</b></h1>
		<br><br>
		<div class="row">
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/neuro.png" class="boximg">
					<h4><b>Neurodevelopmental</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/anxiety.png" class="boximg">
					<h4><b>Anxiety</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/dissociative.png" class="boximg">
					<h4><b>Dissociative</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/addiction.png" class="boximg">
					<h4><b>Addiction</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 paddcol">
				<div class="boxes ">
					<img src="./assets/images/anxiety.png" class="boximg">
					<h4><b>Anxiety</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/neuro.png" class="boximg">
					<h4><b>Neurodevelopmental</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/addiction.png" class="boximg">
					<h4><b>Addiction</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			<div class="col-6 paddcol">
				<div class="boxes">
					<img src="./assets/images/dissociative.png" class="boximg">
					<h4><b>Dissociative</b></h4>
					<h4><b>Disorders</b></h4>
				</div>
			</div>
			
		</div>
	</div>


</div>

<app-navbar></app-navbar>
<app-footer></app-footer>



