 <div class="container">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmsignuppopup">
    Open modal
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="confirmsignuppopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-md-6 col-sm-1 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-md-6 col-sm-12 boxpadding">
        			<div class="bookingdetails">
        				<button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" class="closeimg"></button>
        				<br>
        				<h2><b class="colorlightblue">Conﬁrm Booking</b> </h2>
        				<h5><b> <span class="colorgrey fontfamilyth">Tue, 23 Jul 2019 </span></b></h5>
        				<div class="row">
        					<div class="col-6">
        						<h5 class="colorlightgrey"><b>6:00 pm - 6:30 pm</b></h5>
        					</div>
        					<div class="col-6 align-end">
        						<h5 ><a href="" class="colorgreen underline">CHANGE</a></h5>
        					</div>
        				</div>
        				<hr class="hrgrey">
        				<div class="row">
        					<div class="col-6">
        						<h5 class="colorgrey"><b>TOTAL PAYMENT</b></h5>
        					</div>
        					<div class="col-6 align-end">
        						<h5 ><span class="colorgrey ">150 LE</span></h5>
        					</div>
        				</div>
        				
    			
        			</div>
        			
        			
		            <h2><b class="colorlightblue">Sign Up</b> </h2>

		            <div class="box">
		            	<div class="row">
							<div class="col-6">
								<div class="boxdetails">
									<input  name="" placeholder="Full Name" >
								</div>
							</div>
							<div class="col-6">
								<div class="boxdetails">
									<input  name="" placeholder="Username" >
								</div>
							</div>

						</div>
		            	<div class="row">
							<div class="col-12">
								<div class="boxdetails">
									<input  name="" placeholder="Email Address" >
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-12">
								<div class="boxdetails ">
									
									<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" >
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-12">
								<div class="boxdetails">
									<input  name="" placeholder="Phone Number" >
								</div>
							</div>

						</div>
		            </div>

		            <div class="sgininbtn">
		            	<button mat-raised-button><b>SIGN UP</b></button>
		            </div>

		            <div class="row align-center">
        				<div class="col-12">
        					<h6><b class="colorgreen cursorpointer">HAVE AN ACCOUNT, LOG IN</b></h6>
        					<p class="colorgrey terms"><span class="cursorpointer">Terms and Conditions</span> | <span class="cursorpointer">Privacy Policy</span></p>
        				</div>
        			</div>





		          

        		</div>
        	</div>

        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>

</div>





