 <div class="container">

 <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videospopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="videospopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-md-8 paddingvideo">
        			<div class="videopartresp">
						<embed class="videostyleresp" src="https://www.youtube.com/embed/tgbNymZ7vqY">
					</div>
        			
        		</div>
        		<div class="col-md-4 boxpadding">
        			<!-- <button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" class="closeimg"></button> -->
        			<br><br>
        			<h5 class="fontbold"><b>Neurodevelopmental Disorders</b></h5>
        			<div class="colorgrey">
        				<p><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>

        				<p class="pmarginbottom"><img src="./assets/images/arrow.png" class="closeimg"> <b> Intellectual disability</b></p>
        				<p class="pmarginbottom"><img src="./assets/images/arrow.png" class="closeimg"> <b> Global developmental delay</b></p>
        				<p class="pmarginbottom"><img src="./assets/images/arrow.png" class="closeimg"> <b> Communication disorders</b></p>
        				<p class="pmarginbottom"><img src="./assets/images/arrow.png" class="closeimg"> <b> Autism spectrum disorder</b></p>
        				
        				

        			</div>  

        		</div>
        	</div>

        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>

</div>



