.modal-header{
  border: none;
}
.modal-body{
  /*padding: 0;*/
  /*background-color: #20cbaf;*/
}
.modal-content{
  border-radius: 0;
  border: none;
  background-color: transparent;
}
.signoutimg{
  width: 112px;
  margin-bottom: 16px;
}
.align-end{
  text-align: end;
}
.align-start{
  text-align: start;
}
.align-center{
  text-align: center;
}
.align-justify{
  text-align: justify;
}
.colorgreen{
  color: #20cbaf;
}
.colorgrey{
  color: #606060;
}
.colordarkblue{
  color: #0a1e2d;
}
.colorlightblue{
  color: #19456b !important;
}


.logoimgs{
  width: 165px;
}
.boxpadding{
  background-color: #edf7f5;
}

.modal-footer{
  border: none;
}
button:focus {
  outline:none !important;
}

.closeimg{
  width: 17px;
}
.align-start{
  text-align: start;
}

.videostyleresp{
  width: 100%;
  height: 460px;
}

.cursorpointer{
  cursor: pointer;
}

.paddingvideo{
  padding: 0;
  margin-bottom: -6px;
}

.fontbold{
  font-family: Proxima Nova Bl;
}
.pmarginbottom{
  margin-bottom: 10px;
}

@media (min-width: 900px){
  .modal-dialog {
    max-width: 850px;

  }
}

@media screen and (max-width: 769px) {
  .paggingimg{
    display: none;
  }
  .boxdetails input{
    width: 80%;
  }
}
