 <div class="container">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resetpopup">
    Open modal
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="resetpopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-md-6 col-sm-1 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-md-6 col-sm-12 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" class="closeimg"></button>
        			<br><br>
        			<div class="row align-center">
        				<div class="col-12">
        					<img src="./assets/images/logo.svg" class="logoimgs">
        				</div>
        			</div>
        			<br>
		            <h2><b class="colorlightblue">Reset Password</b> </h2>
		            <p class="colorlightblue">Submit your email address to reset password</p>

		            <div class="box">
		            	  <div class="row">
							<div class="col-12">
								<div class="boxdetails boxdetailspadding">
									<input  name="" placeholder="Email Address" >
								</div>
								<div class="signinbutt">
									<a ><p class="forgetpass"><span class="cursorpointer">RETURN TO SIGN IN</span></p></a>
								</div>
							</div>

						</div>
					
		            </div>

		            <div class="sgininbtn">
		            	<button mat-raised-button><b>SUBMIT</b></button>
		            </div>

        		</div>
        	</div>

        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>

</div>



