.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}
.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}





/* ----- first part ----- */
.article{
	color: #0a1e2d;
    margin-top: 132px
}
.homeimg {
	width: 100%;
	height: 100%;
}
.bg{
	position: relative;
}
.title{
	position: absolute;
    top: 190px;
    left: 88px;
    width: 31%;
}
.font24px{
    font-size: 24px;
}

.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

/* ----- article part ----- */
.articles {
	background: #fff;
	padding: 0px 80px 80px 80px;
	font-size: 14px;
}

.articles button{
    background: transparent;
    border: none;
    color: #19456b;
    font-size: 16px;
    margin: 10px 5px 0 5px;
}
.articles button:hover{
    color: #20cbaf;
}
.articles button:active{
    color: #20cbaf;
}
.articleimg{
	position: relative;
    height: 250px;
    border-bottom: 8px solid #20cbaf;
}
.date{
    position: absolute;
    top: 0px;
    right: 16px;
    color: #19456b;
    background: #20cbaf;
    text-align: center;
    padding: 8px 7px 0 7px;
    font-size: 10px;
}
.date h5{
	margin-bottom: 0;
}
.artimg{
	width: 100%;
	height: 100%;
}
.articlebox{
    margin-top: 45px;
    border: 1px solid #cccccc;
    border-top: 0px;
}
.articledetails{
    padding: 16px 15px 0 15px;
}


/* --------- media ---------- */

@media screen and (max-width: 1090px) {
	.article {
	    margin-top: 115px;
	}
	.title {
	    top: 141px;
	    left: 77px;
	}
}