<div class="article">
	<div class="bg">
		 <img src="./assets/images/picture 2.png" class="homeimg"> 
		 <div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>Our Media <span class="font24px"> / Articles</span></b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Find your online therapist,</b></h3>
		 			<h3 class="colordarkblue"><b>Privately anytime... anywhere</b></h3>
		 			<button routerLink="/makeappointment" mat-raised-button><b>START NOW</b></button>
		 		</div>
		 		
		 	</div>
		 </div>
	</div>
	<div class="articles">
		<div class="colorlightblue">
			<h1><b >Articles</b></h1>
		</div>
		<br>
		<div>
			<p><button ><b class="colorgreen">All</b></button> <button><b>Addiction Disorders</b></button> <button><b>Neurodevelopmental Disorders</b></button> <button><b>Anxiety  Disorders</b></button> <button><b>Trauma  Disorders</b></button> <button><b>Dissociative  Disorders</b></button></p>
		</div>
		<div class="row">
			<div class="col-md-4" routerLink="/articledetails">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/2.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Bipolar and Related Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore"><b>READ MORE</b></p>
					</div> 
				</div>
			</div>
			<div class="col-md-4" routerLink="/articledetails">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/3.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Neurodevelopmental Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore"><b>READ MORE</b></p>
					</div> 
				</div>
			</div>
			<div class="col-md-4" routerLink="/articledetails">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/4.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Anxiety Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore"><b>READ MORE</b></p>
					</div> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" routerLink="/articledetails">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/4.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Anxiety Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore"><b>READ MORE</b></p>
					</div> 
				</div>
			</div>
			<div class="col-md-4" routerLink="/articledetails">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/2.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Bipolar and Related Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore"><b>READ MORE</b></p>
					</div> 
				</div>
			</div>
			<div class="col-md-4" routerLink="/articledetails">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/3.jpg" class="artimg">
						<div class="date">
							<h5><b>10</b></h5> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					<div class="articledetails">
						<h4><b>Neurodevelopmental Disorders</b></h4>
						<p class="colorgrey"><b>Neurodevelopmental disorders are those that are typically diagnosed during infancy, childhood, or adolescence. These psychological disorders includet</b></p>
						<p class="colorgreen seemore"><b>READ MORE</b></p>
					</div> 
				</div>
			</div>
			
		</div>
	</div>     
</div>
<app-navbar></app-navbar>
<app-footer></app-footer>
