<div class="homepg">
	<div class="bg">
		 <img src="./assets/images/myaccount.png" class="homeimg"> 
		 <div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>My Account <span class="font24px"> / Upcoming Sessions</span></b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Find your online therapist,</b></h3>
		 			<h3 class="colordarkblue"><b>Privately anytime... anywhere</b></h3>
		 			<button mat-raised-button><b>START NOW</b></button>
		 		</div>
		 		
		 	</div>
		 </div>
	</div>
	<div class="myaccount">
		<div class="row">
			<div class="col-4">
				<div class="myprofile">
					<div class="row">
						<div class="col-2 align-end">
							<img *ngIf="fullsession" src="./assets/images/arrow.png" class="arrowimg">
						</div>
						<div class="col-10">
							<p (click)="toggle('fullsession')"   [ngClass]="fullsession ? 'actived' : 'inactive'" class="cursorpointer"> Upcoming Session</p>
						</div>
					</div>
					<div class="row">
						<div class="col-2 align-end">
							<img *ngIf="editprofile" src="./assets/images/arrow.png" class="arrowimg">
						</div>
						<div class="col-10">
							<p (click)="toggle('editprofile')"   [ngClass]="editprofile ? 'actived' : 'inactive'" class="cursorpointer">Edit Proﬁle</p>
						</div>
					</div>
					<div class="row">
						<div class="col-2 align-end">
							
						</div>
						<div class="col-10">
							<p routerLink="" class="signout cursorpointer">Sign Out</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="centerpart">
					<div>
						<div *ngIf="emptysession" class="emptysession">
							<img src="./assets/images/no sessions.png" class="nosessimg">
							<h2 class="colorlightblue font32px"><b>No Upcoming Sessions</b></h2>
							<p class="nosesstext">Seems you don’t have upcoming sessions</p>

							<button mat-raised-button><b>START NOW</b></button>
						</div>
						<div *ngIf="fullsession" class="fullsession">
							<h1 class="colorlightblue"><b>Upcoming Sessions</b></h1>
							<div class="margindate">
								<div class="row">
									<div class="col-6">
										<div class="row">
											<div class="col-2 ">
												<img src="./assets/images/arrow.png" class="arrow2img">
											</div>
											<div class="col-10">
												<h3 class="date">24 Jul 2019</h3>
												<p class="time">6:00 pm - 7:00 pm (60 min)</p> 
											</div>
										</div>
									</div>
									<div class="col-6 align-end">
										<button mat-raised-button><b>AVAILABLE NOW</b></button>
									</div>
									<div class="col-12">
										<hr class="hrgrey">
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="row">
											<div class="col-2 ">
												<img src="./assets/images/arrow.png" class="arrow2img">
											</div>
											<div class="col-10">
												<h3 class="date">25 Jul 2019</h3>
												<p class="time">6:00 pm - 6:30 pm (30 min)</p> 
											</div>
										</div>
									</div>
									<div class="col-6 align-end">
										<button disabled mat-raised-button><b>REMAIN 25H</b></button>
									</div>
								</div>

							</div>
						</div>
						<div *ngIf="editprofile" class="editprofile">
							<h1 class="colorlightblue"><b>Edit Proﬁle</b></h1>
							<div class="editmargin">
								<div class="row">
									<div class="col-6">
										<div class="boxdetails">
											<input  name="" placeholder="Full Name" >
										</div>
									</div>
									<div class="col-6">
										<div class="boxdetails">
											<input  name="" placeholder="Username" >
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-6">
										<div class="boxdetails">
											<input  name="" placeholder="Email Address" >
										</div>
									</div>
									<div class="col-6">
										<div class="boxdetails">
											<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" >
		    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="boxdetails">
											<input  name="" placeholder="Phone Number" >
										</div>
									</div>
									<div class="col-6">
										<button mat-raised-button><b>SAVE</b></button>
									</div>
								</div>

							</div>
						</div>
					</div>
						
				</div>
			</div>
		</div>
	</div>

</div>
<app-navbar></app-navbar>
<app-footer></app-footer>

