.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}

.colorred{
    color: #ff0015;
}
.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}

.cursorpointer{
    cursor: pointer;
}


.homepg{
	color: #0a1e2d;
    margin-top: 129px
}
/* ---- first part ---- */
.homeimg {
	width: 100%;
	height: 100%;
}
.bg{
	position: relative;
    z-index: 10;
}
.title{
    position: absolute;
    top: 190px;
    left: 88px;
    width: 31%;
}
.font24px{
    font-size: 24px;
}

.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}




/* ------- my account  ------- */

.myaccount{
    margin-top: -300px;
}
.myprofile{
    background: #edf7f5;
    padding: 330px 80px 0 80px;
    height: 100%;
}

.arrowimg{
    width: 21px;
    vertical-align: text-top;
}

.inactive{
    color: #19456b;
    font-size: 16px;
    font-weight: 800;
}
.actived{
    color: #061219;
    font-size: 19px;
    font-weight: 800;
    font-family: Proxima Nova Th;
}
.signout{
    color: #ff0015;
    font-size: 16px;
    font-weight: 800;
}



/* ------ empty Sessions -------- */

.centerpart{
    padding: 330px 80px 0 80px;
}
.emptysession{
    text-align: center;
}

.nosessimg{
    width: 145px;
    margin: 15px 0 45px 0;
}
.nosesstext{
    color: #6d7d84;
    font-size: 14px;
    font-weight: 800; 
}

.emptysession::ng-deep.mat-raised-button {
    background: #20cbaf;
    color: #fff;
    width: 28%;
    height: 40px;
    margin-top: 55px;
    margin-bottom: 150px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14);
}

.font32px{
    font-size: 32px;
}


/* ------ full Sessions -------- */
.margindate{
    margin-top: 80px; 
    margin-bottom: 105px;       
}

.fullsession::ng-deep.mat-raised-button {
  background: #20cbaf;
  color: #fff;
  width: 62%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 40px;
  border-radius: 0;
  box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14);
}
.fullsession::ng-deep.mat-raised-button[disabled][disabled] {
  background-color: #cccccc;
}

.date{
    color: #061219;
    font-weight: 800;
    font-family: Proxima Nova Th;
}

.arrow2img{
    width: 24px;
    vertical-align: sub;
}
.time{
    color: #19456b;
    font-size: 16px;
    font-weight: 800;
}
.hrgrey{
    border-top: 1.2px solid #cccccc;
    margin-bottom: 28px;
    margin-top: 0px;
}


/* ------ edit profile -------- */
.editmargin{
    margin-top: 80px; 
    margin-bottom: 105px;  
}

.boxdetails{
    background: #fff;
    border: 1.2px solid #cccccc;
    padding: 6px 2px 7px 2px;
    font-size: 12px;
    height: 40px;
    margin-bottom: 25px;
}

.boxdetails input{
    background: transparent;
    border: none;
    width: 88%;
    font-size: 15px;
    font-weight: 600;
    color: #606060;
    padding: 1px 5px 0px 5px;
}
.boxdetails input::placeholder{
    font-weight: 600;
    color: #606060;

}
.boxdetails::ng-deep.mat-icon{
    font-size: 18px;
    color: #777;
    height: 18px;
    width: 21px;
    vertical-align: middle;
}

.editprofile::ng-deep.mat-raised-button {
    background: #20cbaf;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14);
}



/* ---------- media  ---------- */



@media screen and (max-width: 1090px) {
    .homepg {
        margin-top: 115px;
    }
    .title {
        top: 141px;
        left: 77px;
    }
    .myprofile {
        padding: 330px 60px 0 60px;
    }
    .actived {
        font-size: 18px;
    }
    .arrowimg {
        width: 19px;
    }
    .signout {
        font-size: 15px;
    }
    .inactive {
        font-size: 15px;
    }
    .centerpart {
        padding: 330px 60px 0 60px;
    }
}


@media screen and (max-width: 1024px) {
    .homepg {
        margin-top: 62px;
    }
    .title {
        top: 200px;
        left: 9px;
        width: 36%;
    }
    .title  h1 {
        font-size: 19px;
    }

    .title h3 {
        font-size: 15px;
    }
    .title p {
        font-size: 7px;
    }
    .title::ng-deep.mat-raised-button {
        width: 90%;
        height: 34px;
        font-size: 13px;
        margin-top: 25px;
        border-radius: 0;
        margin-left: 150%;
    }
    .centerpart h3 {
        font-size: 18px;
    }
    .time {
        color: #19456b;
        font-size: 14px;
        font-weight: 800;
    }

}


@media screen and (max-width: 600px) {
    .title {
        top: 10px;
        left: 9px;
        width: 36%;
    }
}
@media screen and (max-width: 330px) {
    .homepg {
        margin-top: 56px;
    }
    .title {
        top: 8px;
        left: 8px;
        width: 39%;
        font-size: 4px;
    }
    .title h1 {
        font-size: 16px;
    }
    .title h3 {
        font-size: 13px;
    }
    .title::ng-deep.mat-raised-button {
        height: 32px;
        font-size: 12px;
        line-height: 1;
    }   
}