<div class="homepg">
	<div class="bg">
		 <img src="./assets/images/terms picture.png" class="homeimg"> 
		 <div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>Terms and Conditions</b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Find your online therapist,</b></h3>
		 			<h3 class="colordarkblue"><b>Privately anytime... anywhere</b></h3>
		 			<button mat-raised-button><b>START NOW</b></button>
		 		</div>
		 		
		 	</div>
		 </div>
	</div>

	<div class="terms">
		<h1><b>Terms and Conditions</b></h1>
		<br>
		<div class="colorgrey">
			<p><b>BY entering the Promotion, you agree to be bound by these terms and conditions (these Terms and Conditions). Completion and submission of an entry form or e-mail will also be deemed acceptance of these Terms and Conditions. Promotional materials relating to the Promotion, including all information on how to enter the Promotion published in publications of the Promoter (including social media if applicable) or on the Promoter’s websites, also form part of these Terms and Conditions. In the event of any conﬂict between any terms referred to in such promotional materials and these Terms and Conditions, these Terms and Conditions take precedence. Participation in the Promotion</b></p>

			<p><b>Residents of the United Kingdom and Republic of Ireland aged 18 or over only, except employees and agents of the Promoter, News Corp UK & Ireland Limited and anyone otherwise connected with the operation or fulﬁlment of the Promotion (including third party promotional partners) and their respective associated, affiliated or subsidiary companies, and the immediate families and household members of all such employees and agents.</b></p>

			<p><b>The Promotion starts at 00:01 am (UK time) on 21 July 2019 and closes at 23:59 pm (UK time) on 5 August 2019 (the Promotion Period). Any entries received outside the Promotion Period will be void.</b></p>
			<p><b>Participants may make a maximum of 1 entry per person during the Promotion Period. To enter you must send an email headed DOGKIND containing your name, email address, postal address and telephone number to sundayfeatures@the-sun.co.uk during the Promotion Period only.</b></p>

			<p><b>Entries received which are not submitted via the official entry method will not be accepted. Use of script, macro or any automated system to enter the Promotion is prohibited and entries made (or which appear to have been made) using any such system may be treated as void. Any illegible, incomplete or fraudulent entries will be rejected. Participants should be aware that they may be subject to data charges depending on their own individual arrangements for Internet access if they enter the Promotion online or by email. Winners and Prizes</b></p>

			<p><b>There will be 5 winners. One prize per winner</b></p>
			<p><b>The winners will be selected at random from all valid entries for this Promotion received during the Promotion Period. There will be no prizes for any other entrants. The prize is Three lucky readers can win For All Dogkind grooming bundle with shampoo, body spray, ear and eye cleaner. Prizes are as stated and are non-exchangeable and non-transferable. There is no cash or other alternative to the prize in whole or in part.</b></p>
		</div>
	</div>

</div>
<app-navbar></app-navbar>
<app-footer></app-footer>

