.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}

.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}

.homepg{
	color: #0a1e2d;
    margin-top: 129px
}
/* ---- first part ---- */
.homeimg {
	width: 100%;
	height: 100%;
}
.bg{
	position: relative;
}
.title{
	position: absolute;
    top: 190px;
    left: 88px;
    width: 30%;
}


.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}



/* ------- terms ------- */

.terms{
	font-size: 15px;
    padding: 30px 80px 80px 80px;
    color: #19456b;
    position: relative;
}


@media screen and (max-width: 1240px) {
    .terms{
		font-size: 14px;
	}

}


@media screen and (max-width: 1024px) {
    .terms{
        font-size: 12px;
    }

}