<div class="homepg">
	<div class="bg">
		 <img src="./assets/images/terms picture.png" class="homeimg"> 
		 <div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>Privacy Policy</b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Find your online therapist,</b></h3>
		 			<h3 class="colordarkblue"><b>Privately anytime... anywhere</b></h3>
		 			<button mat-raised-button><b>START NOW</b></button>
		 		</div>
		 		
		 	</div>
		 </div>
	</div>

	<div class="terms">
		<h1><b>Privacy Policy</b></h1>
		<br>
		<div class="colorgrey">
			<p><b>Making it clear that the resolution applicant will have to ensure that the interests of Jaypee homebuyers are protected at all costs, the National Company Law Appellate Tribunal (NCLAT) July 17 directed banks to submit the terms and conditions for fresh bidders in the resolution process of the embattled ﬁrm. "Counsel appearing for lenders are allowed to ﬁle new terms and conditions in case fresh bidding takes place," the bench said.</b></p>

			<p><b>This may pave the way for fresh bids for Jaypee Infratech, including one from business conglomerate Adani Group that had earlier made an unsolicited and non-binding bid to acquire Jaypee Infratech and had said that it is ready to infuse up to Rs 1,700 crore to expedite the construction of stuck housing projects of the debt-laden realty ﬁrm and deliver ﬂats to homebuyers. The NCLAT bench asked the Adani Group to improve its bid and agree to the terms and conditions set by the appellate tribunal if it wanted to be part of the process, sources said. The terms and conditions should be submitted by the committee of creditors by Friday, the bench said, adding it would pass further orders on July 22.</b></p>

			<p><b>A two-member bench headed by Chairman Justice SJ Mukhopadhaya directed the lead bank IDBI to ﬁle an affidavit listing the fresh terms and condition if a fresh round of bidding was to be conducted. The bench made it clear that there should be no changes in the terms of the builder-buyer agreements that were signed with homebuyers earlier. All allottees should be given units according to the builder-buyer agreements. 'The terms of the contract cannot be changed,' the bench said.</b></p>

			<p><b>If allottees are not present then the committee of creditors (CoC) has to decide how it has to be adjusted. The land attached to the building and with common area amenities would remain with the allottees, it said. In the second round of bidding, the CoC had ﬁrst rejected the resolution plan of Suraksha Realty and then voted against state-owned NBCC's offer. In the voting that took place on NBCC's bid, 34.75 per cent of home buyers voted in favour, 1.44 per cent voted against, whereas 23.8 per cent did not vote.</b></p>

			<p><b>All the 13 banks, which constitute 40.75 per cent of CoC, voted against the bid by the state-run ﬁrm to acquire Jaypee Infratech. Homebuyers have nearly 60 per cent voting rights in the CoC. NCLAT had earlier this month directed representatives of banks, allottees and other stakeholders to appear before it on July 17 to consider how the NBCC resolution plan could be amended for the beneﬁt of homebuyers. The bench had said NBCC is a government company and one can rely on it, adding that it knows "the pain of allottees" and wants to do justice to them</b></p>

			<p><b>NBCC had in its revised bid agreed to reduce the value of unsold inventories offered to lenders by around 25 percent. The public sector ﬁrm has proposed that it would reduce the value of unsold inventories offered to lenders to Rs 1,300 crore from earlier Rs 1,750 crore.</b></p>
		</div>
	</div>

</div>
<app-navbar></app-navbar>
<app-footer></app-footer>

