.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}

.colorred{
    color: #ff0015;
}
.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}

.cursorpointer{
    cursor: pointer;
}



.homepg{
	color: #0a1e2d;
    margin-top: 129px
}
/* ---- first part ---- */
.homeimg {
	width: 100%;
	height: 100%;
}
.bg{
	position: relative;
    z-index: 10;
    background: #edf7f5;
}
.title{
    position: absolute;
    top: 190px;
    left: 88px;
    width: 31%;
}
.font24px{
    font-size: 24px;
}

.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.online{
	background: #edf7f5;
	text-align: center;
	padding: 5px 80px 80px 80px;
	font-size: 18px;
	color: #19456b;

}
.onlineresp{
	display: none;
}
.onlineimg {
    width: 86%;
    margin: 12px 0 12px 0;	

}
.online h3{
	font-family: Proxima Nova Bl;
}
.online::ng-deep.mat-raised-button {
    background: #20cbaf;
    color: #fff;
    height: 43px;
    width: 27%;
    margin-top: 66px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


/* -------- calender --------- */
.homepg::ng-deep.cal-month-view .cal-header {
    text-align: center;
    font-weight: bolder;
    background: #0a1e2d;
    color: #fff;
    padding: 6px 0 6px 0;
}
.homepg::ng-deep.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    border: 2px solid #20cbaf;
    border-radius: 50%;
    /* padding: 2px 8px 2px 8px; */
    width: 40px;
    height: 40px;
    text-align: center;
}

.homepg::ng-deep.cal-month-view .cal-day-cell.cal-today {
    background-color: #fff;
}

.homepg::ng-deep.cal-month-view .cal-day-number {
    opacity: 1;
}
.backgroundmonth{
	background-color: #20cbaf;
	padding: 18px 0 18px 0;
    margin: 0 0 0 0;
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border: transparent;
}

.btn-outline-secondary {
    color: transparent;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}
.arrowfont{
	font-size: 20px;
}
.calendardr{
	margin: 45px 45px 45px 45px;
}

.homepg::ng-deep.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: #0a1e2d;
}
.homepg::ng-deep.cal-month-view .cal-open-day-events {
    color: #0a1e2d;
    background-color: #cccccc;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0);
}
/* -------- calender --------- */


/* ---------- appointment popup ---------*/
.homepg::ng-deep .cal-event-title .appointmentpopup{
	background: #fff;
    color: #0a1e2d;
    padding: 25px 50px 15px 50px;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.homepg::ng-deep .cal-event-title .align-end{
	text-align: end;
}
.homepg::ng-deep .cal-event-title .align-start{
	text-align: start;
}
.homepg::ng-deep .cal-event-title .align-center{
	text-align: center;
}

.homepg::ng-deep .cal-event-title .colorlightblue{
	color: #19456b;
}
.homepg::ng-deep .cal-event-title .fonttitlee{
    font-size: 19px;
}

.homepg::ng-deep .cal-event-title .mat-raised-button {
    background: #20cbaf;
    color: #fff;
    padding: 2px 30px 1px 30px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.homepg::ng-deep .cal-event-title::ng-deep.mat-radio-label-content {
    font-size: 18px;
    font-family: Proxima Nova Bl;
}

.homepg::ng-deep .cal-event-title .marginrow{
	margin-top: 35px;
	margin-bottom: 35px;
}

.homepg::ng-deep.cal-month-view .cal-event {
    background-color: transparent;
    border-color: transparent;
}

.homepg::ng-deep.cal-month-view .cal-day-badge {
    background-color: #20cbaf;
    color: #fff;
}

/* ---------- appointment popup ---------*/

/* --------- session footer --------- */
.sessionfooter{
    background: #20cbaf;
    color: #fff;
    padding: 25px 50px 15px 50px;
}
.sessionimg{
    width: 58px;
}
.sessionfooter h5{
    margin-bottom: 2px;
}
.sessionfooter p{
    margin-bottom: 0px;
}

.afooter{
	color: #fff;
    text-decoration: underline;
}
.margina{
    margin-top: 25px;
}

/* --------- session footer --------- */

/* --------- arabic css ---------- */

.videopart-ar{
	padding: 80px 80px 80px 0px;
}






/* --------- media ---------- */

@media screen and (max-width: 1150px) {
	.sessionimg {
	    width: 50px;
	}
	.sessionfooter {
	    padding: 25px 40px 15px 40px;
	}
}

@media screen and (max-width: 1090px) {
	.homepg {
	    margin-top: 115px;
	}
	.title {
	    top: 141px;
	    left: 77px;
	}
	.aboutdr {
	    font-size: 14px;
	    padding: 0 40px 0 40px;
	}
	
}


@media screen and (max-width: 1024px) {
    .homepg {
	    margin-top: 62px;
	}
	.title {
	    top: 200px;
	    left: 9px;
	    width: 36%;
	}
	.title  h1 {
	    font-size: 19px;
	}

	.title h3 {
	    font-size: 15px;
	}
	.title p {
	    font-size: 7px;
	}
	.title::ng-deep.mat-raised-button {
	    width: 90%;
	    height: 34px;
	    font-size: 13px;
	    margin-top: 25px;
	    border-radius: 0;
	    margin-left: 150%;
	}

	.online{
		display: none;
	}
	.onlineresp{
		display: block;
		background: #edf7f5;
		text-align: center;
		padding: 30px 30px 40px 30px;
		font-size: 12px;
		color: #19456b;
	}
	.onlineresp::ng-deep.mat-raised-button {
	    background: #20cbaf;
	    color: #fff;
	    height: 34px;
	    width: 75%;
	    margin-top: 66px;
	    border-radius: 0;
	}
	.onlineimgarrow{
		height: 80px;
    	width: 18%;
	}
	.onlineimg {
	    width: 54%;
	    margin: 0px 0 0px 0;
	}
	.onlineresp h3{
		margin-bottom: 3px;
		font-family: Proxima Nova Bl;
		margin-top: 8px;
	}

	.calendardr {
	    margin: 40px 20px 40px 20px;
	}

}


@media screen and (max-width: 600px) {
	.title {
	    top: 10px;
	    left: 9px;
	    width: 36%;
	}
}
@media screen and (max-width: 330px) {
	.homepg {
	    margin-top: 56px;
	}
	.title {
	    top: 8px;
	    left: 8px;
	    width: 39%;
        font-size: 4px;
	}
	.title h1 {
	    font-size: 16px;
	}
	.title h3 {
	    font-size: 13px;
	}
	.title::ng-deep.mat-raised-button {
	    height: 32px;
	    font-size: 12px;
	    line-height: 1;
	}
	.logoimg {
	    width: 132px;
	}	
}