<div class="homepg">
	<div class="bg">
		 <img src="./assets/images/makeapp.png" class="homeimg">
		 <div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>Make Appointment</b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Find your online therapist,</b></h3>
		 			<h3 class="colordarkblue"><b>Privately anytime... anywhere</b></h3>
		 			<!-- <button mat-raised-button><b>START NOW</b></button> -->
		 		</div>

		 	</div>
		 </div>
	</div>

	<div class="online">
		<h1 class="colorlightblue"><b>Get Online Consultation</b></h1>
		<img src="./assets/images/set.svg" class="onlineimg">
		<div class="row colordarkblue">
			<div class="col-4">
				<h3><b>Reserve</b></h3>
				<p><b>Select your suitable date and time</b></p>
			</div>
			<div class="col-4">
				<h3><b>Stay Online</b></h3>
				<p><b>Be ready for the online session on time</b></p>
			</div>
			<div class="col-4">
				<h3><b>Talk</b></h3>
				<p><b>Talk to your therapist privately</b></p>
			</div>
		</div>
		<button mat-raised-button><b>GET STARTED</b></button>
	</div>

	<div class="onlineresp">
		<h1 class="colorlightblue"><b>Get Online Consultation</b></h1>
		 <br>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/reserve.png" class="onlineimg">
			</div>
			<div class="col-6">
				<h3><b>Reserve</b></h3>
				<p><b>Select your suitable date and time</b></p>

			</div>

		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/arrows.png" class="onlineimgarrow">
			</div>
			<div class="col-6">

			</div>

		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/stay online.png" class="onlineimg">
			</div>
			<div class="col-6">

				<h3><b>Stay Online</b></h3>
				<p><b>Be ready for the online session on time</b></p>

			</div>

		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/arrows.png" class="onlineimgarrow">
			</div>
			<div class="col-6">

			</div>

		</div>
		<div class="row colordarkblue">
			<div class="col-6">
				<img src="./assets/images/talk.png" class="onlineimg">
			</div>
			<div class="col-6">
				<h3><b>Talk</b></h3>
				<p><b>Talk to your therapist privately</b></p>
			</div>

		</div>
		<button mat-raised-button><b>GET STARTED</b></button>
	</div>
    <div class="calendardr">
    	<div class="row text-center backgroundmonth">
		  <div class="col-4">
		    <div class="btn-group">
		      <div
		        class="arrowfont"
		        mwlCalendarPreviousView
		        [view]="view"
		        [(viewDate)]="viewDate"
		        (viewDateChange)="closeOpenMonthViewDay()">
		        <i class="fa fa-chevron-left" aria-hidden="true"></i>
		      </div>
		      <div
		        class="btn btn-outline-secondary"
		        mwlCalendarToday
		        [(viewDate)]="viewDate">
		       <!--  Today -->
		      </div>

		    </div>
		  </div>
		  <div class="col-4">
		    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
		  </div>
		  <div class="col-4">
		  	<div
		        class="arrowfont"
		        mwlCalendarNextView
		        [view]="view"
		        [(viewDate)]="viewDate"
		        (viewDateChange)="closeOpenMonthViewDay()">

		        <i class="fa fa-chevron-right" aria-hidden="true"></i>
		      </div>
		    <!-- <div class="btn-group">
		      <div
		        class="btn btn-primary"
		        (click)="setView(CalendarView.Month)"
		        [class.active]="view === CalendarView.Month"
		      >
		        Month
		      </div>
		      <div
		        class="btn btn-primary"
		        (click)="setView(CalendarView.Week)"
		        [class.active]="view === CalendarView.Week"
		      >
		        Week
		      </div>
		      <div
		        class="btn btn-primary"
		        (click)="setView(CalendarView.Day)"
		        [class.active]="view === CalendarView.Day"
		      >
		        Day
		      </div>
		    </div> -->
		  </div>
		</div>
		<!-- <br /> -->
		<div [ngSwitch]="view">
		  <mwl-calendar-month-view
		    *ngSwitchCase="CalendarView.Month"
		    [viewDate]="viewDate"
		    [events]="events"
		    [refresh]="refresh"
		    [activeDayIsOpen]="activeDayIsOpen"
		    (dayClicked)="dayClicked($event.day)"
		    (eventClicked)="handleEvent('Clicked', $event.event)"
		    (eventTimesChanged)="eventTimesChanged($event)"
		  >
		  </mwl-calendar-month-view>
		  <!-- <mwl-calendar-week-view
		    *ngSwitchCase="CalendarView.Week"
		    [viewDate]="viewDate"
		    [events]="events"
		    [refresh]="refresh"
		    (eventClicked)="handleEvent('Clicked', $event.event)"
		    (eventTimesChanged)="eventTimesChanged($event)"
		  >
		  </mwl-calendar-week-view>
		  <mwl-calendar-day-view
		    *ngSwitchCase="CalendarView.Day"
		    [viewDate]="viewDate"
		    [events]="events"
		    [refresh]="refresh"
		    (eventClicked)="handleEvent('Clicked', $event.event)"
		    (eventTimesChanged)="eventTimesChanged($event)"
		  >

		  </mwl-calendar-day-view> -->
		</div>

		<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

		<!-- <br /><br /><br /> -->

		<!-- <h3>
		  Edit events
		  <button class="btn btn-primary pull-right" (click)="addEvent()">
		    Add new
		  </button>
		  <div class="clearfix"></div>
		</h3>

		<div class="table-responsive">
		  <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Title</th>
		        <th>Primary color</th>
		        <th>Secondary color</th>
		        <th>Starts at</th>
		        <th>Ends at</th>
		        <th>Remove</th>
		      </tr>
		    </thead>

		    <tbody>
		      <tr *ngFor="let event of events">
		        <td>
		          <input
		            type="text"
		            class="form-control"
		            [(ngModel)]="event.title"
		            (keyup)="refresh.next()"
		          />
		        </td>
		        <td>
		          <input
		            type="color"
		            [(ngModel)]="event.color.primary"
		            (change)="refresh.next()"
		          />
		        </td>
		        <td>
		          <input
		            type="color"
		            [(ngModel)]="event.color.secondary"
		            (change)="refresh.next()"
		          />
		        </td>
		        <td>
		          <input
		            class="form-control"
		            type="text"
		            mwlFlatpickr
		            [(ngModel)]="event.start"
		            (ngModelChange)="refresh.next()"
		            dateFormat="Y-m-dTH:i"
		            altFormat="F j, Y H:i"
		            placeholder="Not set"
		          />
		        </td>
		        <td>
		          <input
		            class="form-control"
		            type="text"
		            mwlFlatpickr
		            [(ngModel)]="event.end"
		            (ngModelChange)="refresh.next()"
		            dateFormat="Y-m-dTH:i"
		            altFormat="F j, Y H:i"
		            placeholder="Not set"
		          />
		        </td>
		        <td>
		          <button class="btn btn-danger" (click)="deleteEvent(event)">
		            Delete
		          </button>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	 -->
		<!-- <ng-template #modalContent let-close="close">
		  <div class="modal-header">
		    <h5 class="modal-title">Event action occurred</h5>
		    <button type="button" class="close" (click)="close()">
		      <span aria-hidden="true">&times;</span>
		    </button>
		  </div>
		  <div class="modal-body">
		    <div>
		      Action:
		      <pre>{{ modalData?.action }}</pre>
		    </div>
		    <div>
		      Event:
		      <pre>{{ modalData?.event | json }}</pre>
		    </div>
		  </div>
		  <div class="modal-footer">
		    <button type="button" class="btn btn-outline-secondary" (click)="close()">
		      OK
		    </button>
		  </div>
		</ng-template> -->
    </div>
    <div  class="sessionfooter">
    	<div class="row">
    		<div class="col-3">
    			<div class="row">
    				<div class="col-3">
    					<img src="./assets/images/time.png" class="sessionimg">
    				</div>
    				<div class="col-9">
    					<h5><b>Session Slots</b></h5>
    					<p>30 Minutes  |  150 L.E</p>
    					<p>60 Minutes  |  300 L.E</p>
    				</div>
    			</div>
    		</div>
    		<div class="col-2">

    		</div>
    		<div class="col-3">
    			<div class="row">
    				<div class="col-3">
    					<img src="./assets/images/scheduel.png" class="sessionimg">
    				</div>
    				<div class="col-9">
    					<h5><b>Schedule</b></h5>
    					<p>Available for upcoming</p>
    					<p>one week only</p>
    				</div>

    			</div>
    		</div>
    		<div class="col-1">

    		</div>
    		<div class="col-3">
    			<div class="row">
    				<div class="col-3">
    					<img src="./assets/images/star.png" class="sessionimg">
    				</div>
    				<div class="col-9">
    					<h5><b>Feedback</b></h5>
    					<p>Very important to improve</p>
    					<p>our services</p>
    				</div>

    			</div>

    		</div>
    	</div>
    	<div class="row margina align-center">
    		<div class="col-12">
    			<p><a class="afooter" href="">Doctor Cancellation Policy</a> &nbsp;|&nbsp; <a class="afooter" href="">Patient Cancellation Policy</a></p>
    		</div>
    	</div>
    </div>

	<div style="display:none;" id="parsedContent">
		<div class="appointmentpopup">
			<div class="align-center">
				<h2 class="colorlightblue"><b>Available Sessions For 1 Sep 2019</b></h2>
				<p class="colorlightblue fonttitlee">You Can only select up to 2 sessions</p>
			</div>
			<div>
				<mat-radio-group aria-label="Select an option">
					<div class="row marginrow">
						<div class="col-6">
							<mat-radio-button value="1">Option 1</mat-radio-button>
						</div>
						<div class="col-6 align-end">
							<div class="mat-raised-button "><button mat-raised-button><b>BOOK APPOINTMENT</b></button></div>
						</div>
					</div>
					<hr>
					<div class="row marginrow">
						<div class="col-6">
							<mat-radio-button value="2">Option 2</mat-radio-button>
						</div>
						<div class="col-6 align-end">
							<div class="mat-raised-button "><button mat-raised-button><b>BOOK APPOINTMENT</b></button></div>
						</div>
					</div>


				</mat-radio-group>
			</div>

		</div>
	</div>

</div>
<app-navbar></app-navbar>
<app-footer></app-footer>
