<div class="articledetail">
	<div>
		<div class="row">
			<div class="col-8">
				<div class="articlebox">
					<div class="articleimg">
						<img src="./assets/images/2.jpg" class="artimg">
						<div class="date">
							<h4><b>10</b></h4> 
							<p><b>JUL 2018</b></p>
						</div>
					</div>
					
				</div>

				<h1 class="colorlightblue"><b>Bipolar and Related Disorders</b></h1>
				<div class="details colorgrey">
					<p><b>Bipolar disorder is characterized by shifts in mood as well as changes in activity and energy levels. The disorder often involves experiencing shifts between elevated moods and periods of depression. Such elevated moods can be pronounced and are referred to either as mania or hypomania.</b></p>

					<p><b>Bipolar disorder is characterized by shifts in mood as well as changes in activity and energy levels. The disorder often involves experiencing shifts between elevated moods and periods of depression. Such elevated moods can be pronounced and are referred to either as mania or hypomania.</b></p>
				
					<!-- <div class="row">
						<div class="col-1">
							<img src="./assets/images/arrow.png" class="arrowimg"> 
						</div>
						<div class="col-11">
							<p><b>Mania is characterized by feeling overly excited and even hyper. Periods of mania are sometimes marked by feelings of distraction, irritability, and excessive conﬁdence. People experiencing mania are also more prone to engage in activities that might have negative long-term consquences such as gambling and shopping sprees. </b></p>
						</div>
					</div> -->

					<!-- <p><img src="./assets/images/arrow.png" class="arrowimg">&nbsp; <b>Mania is characterized by feeling overly excited and even hyper. Periods of mania are sometimes marked by feelings of distraction, irritability, and excessive conﬁdence. People experiencing mania are also more prone to engage in activities that might have negative long-term consquences such as gambling and shopping sprees. </b></p> -->

					<p><b>Bipolar disorder is characterized by shifts in mood as well as changes in activity and energy levels. The disorder often involves experiencing shifts between elevated moods and periods of depression. Such elevated moods can be pronounced and are referred to either as mania or hypomania.</b></p>
				</div>
			</div>
			<div class="col-4">
				<h2 class="colorlightblue"><b>Latest Articles</b></h2>
				<div class="articlediv">
					<div class="row">
						<div class="col-4">
							<img src="./assets/images/little picture 1.png" class="articledivimg">
							
						</div>
						<div class="col-8 colorgrey padtext">
							<h5 class="colordarkblue"><b>Anxiety Disorders</b></h5>
							<p><b><i>17 JUL 2017</i></b></p>
							<br>
							<p><b>Bipolar disorder is characterized by shifts in mood as well...</b></p>

						</div>
					</div>
				</div>
				<div class="articlediv">
					<div class="row">
						<div class="col-4">
							<img src="./assets/images/little picture 2.png" class="articledivimg">
							
						</div>
						<div class="col-8 colorgrey padtext">
							<h5 class="colordarkblue"><b>Anxiety Disorders</b></h5>
							<p><b><i>17 JUL 2017</i></b></p>
							<br>
							<p><b>Bipolar disorder is characterized by shifts in mood as well...</b></p>

						</div>
					</div>
				</div>
				<div class="articlediv">
					<div class="row">
						<div class="col-4">
							<img src="./assets/images/little picture 3.png" class="articledivimg">
							
						</div>
						<div class="col-8 colorgrey padtext">
							<h5 class="colordarkblue"><b>Anxiety Disorders</b></h5>
							<p><b><i>10 JUL 2017</i></b></p>
							<br>
							<p><b>Bipolar disorder is characterized by shifts in mood as well...</b></p>

						</div>
					</div>
				</div>

				<h2 class="colorlightblue marginh2"><b>Related Articles</b></h2>
				<div class="articlediv">
					<div class="row">
						<div class="col-4">
							<img src="./assets/images/little picture 1.png" class="articledivimg">
							
						</div>
						<div class="col-8 colorgrey padtext">
							<h5 class="colordarkblue"><b>Anxiety Disorders</b></h5>
							<p><b><i>09 JUL 2017</i></b></p>
							<br>
							<p><b>Bipolar disorder is characterized by shifts in mood as well...</b></p>

						</div>
					</div>
				</div>
				<div class="articlediv">
					<div class="row">
						<div class="col-4">
							<img src="./assets/images/little picture 2.png" class="articledivimg">
							
						</div>
						<div class="col-8 colorgrey padtext">
							<h5 class="colordarkblue"><b>Anxiety Disorders</b></h5>
							<p><b><i>17 JUL 2017</i></b></p>
							<br>
							<p><b>Bipolar disorder is characterized by shifts in mood as well...</b></p>

						</div>
					</div>
				</div>
				<div class="articlediv">
					<div class="row">
						<div class="col-4">
							<img src="./assets/images/little picture 3.png" class="articledivimg">
							
						</div>
						<div class="col-8 colorgrey padtext">
							<h5 class="colordarkblue"><b>Anxiety Disorders</b></h5>
							<p><b><i>17 JUL 2017</i></b></p>
							<br>
							<p><b>Bipolar disorder is characterized by shifts in mood as well...</b></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<app-navbar></app-navbar>
<app-footer></app-footer>
