.align-end{
	text-align: end;
}
.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}
.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}


.articledetail{
	color: #0a1e2d;
    margin: 185px 55px 100px 55px;
}

.articleimg{
	position: relative;
    height: 575px;
}
.date{
    position: absolute;
    top: 0px;
    right: 16px;
    color: #19456b;
    background: #20cbaf;
    text-align: center;
    padding: 8px 7px 0 7px;
    font-size: 15px;
}
.date h4{
	margin-bottom: 0;
}
.artimg{
	width: 100%;
	height: 100%;
}
.articlebox{
    margin-bottom: 45px;
}
.articledetails{
    padding: 16px 15px 0 15px;
}
.arrowimg{
    width: 18px;
}

.details{
    margin-top: 45px;
    font-size: 14px;	
}

.articlediv{
	border: 1px solid #cccccc;
    margin: 12px 0 12px 0;
}

.articlediv h5{
	margin-bottom: 0;
}
.articledivimg{
	width: 100%;
	height: 100%;
}
.padtext{
    padding: 10px 25px 10px 25px
}

.padtext p{
	margin-bottom: 0px;
	font-size: 14px;
}

.marginh2{
    margin-top: 70px;
}


/* --------- media ---------- */

@media screen and (max-width: 1300px) {
	.padtext p {
	    font-size: 12px;
	}
	.articledetail {
	    margin: 185px 45px 100px 45px;
	}
	.articleimg {
	    height: 530px;
	}
	.details {
	    margin-top: 45px;
	    font-size: 13px;
	}
}

@media screen and (max-width: 1200px) {
	
	.articledetail {
	    margin: 185px 35px 100px 35px;
	}
	.articleimg {
	    height: 500px;
	}
}

@media screen and (max-width: 1060px) {
	.padtext p {
	    font-size: 11px;
	}
	.articledetail {
	    margin: 172px 30px 85px 30px;
	}
	.articleimg {
	    height: 480px;
	}
	.date {
	    font-size: 12px;
	}
}