<div class="contactus">
	<div class="bg">
		<img src="./assets/images/picture.png" class="homeimg"> 
		<div class="title">
		 	<div class="row">
		 		<div class="col-12">
		 			<h1 class="colordarkblue"><b>CONTACT US</b></h1>
		 			<br>
		 			<h3 class="colordarkblue"><b>Want to get in touch?</b></h3>
		 			<h3 class="colordarkblue"><b>We’d love to hear from you.</b></h3>
		 		</div>
		 		
		 	</div>
		</div>
	</div>
	<div class="contactform">
		<div class="row">
			<div class="col-8">
				<div class="contactwrite">
					<h2 class="colorlightblue"><b>We’re here to help and answer your questions</b></h2>
					<div class="contactbox">
						<input  name="" placeholder="Name">
						<hr class="hrblue">
					</div>
					<div class="contactbox">
						<input  name="" placeholder="Phone">
						<hr class="hrblue">
					</div>
					<div class="contactbox">
						<input  name="" placeholder="E-mail">
						<hr class="hrblue">
					</div>
					<div class="contactbox">
						<input  name="" placeholder="Your question">
						<hr class="hrblue">
					</div>
					<div class="contactbox">
						<div class="align-end">
							<button mat-raised-button><b>SEND TO DOCTOR</b></button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="info">
					<h2><b>CONTACT US</b></h2>
					<div class="row margtext">
						<div class="col-6">
							<img src="./assets/images/adress.png" class="infoimg"> 
						</div>
						<div class="col-6">
							<div class="infotext">
								<h5>Address</h5>
								<p>79 Nasr Street, Near to Tiba Mall, Cairo, Egypt</p>
							</div>	
						</div>
					</div>
					<div class="row margtext">
						<div class="col-6">
							<img src="./assets/images/phone.png" class="infoimg"> 
						</div>
						<div class="col-6">
							<div class="infotext">
								<h5>Phone</h5>
								<p>01022630411</p>
							</div>	
						</div>
					</div>
					<div class="row margtext">
						<div class="col-6">
							<img src="./assets/images/email.png" class="infoimg"> 
						</div>
						<div class="col-6">
							<div class="infotext">
								<h5>Email Address</h5>
								<p>info@doctornafsy.com</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	


</div>

<app-navbar></app-navbar>
<app-footer></app-footer>

