.align-start{
	text-align: start;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}
.align-end{
	text-align: end;
}

.colorgreen{
	color: #20cbaf;
}
.colorgrey{
	color: #606060;
}
.colordarkblue{
	color: #0a1e2d;
}
.colorlightblue{
	color: #19456b !important;
}


.contactus{
	color: #0a1e2d;
    margin-top: 132px
}

/* ---- first part ---- */
.homeimg {
	width: 100%;
	height: 100%;
}
.bg{
	position: relative;
}
.title{
	position: absolute;
    top: 190px;
    left: 88px;
    width: 30%;
}


.title::ng-deep.mat-raised-button {
    background: #fff;
    color: #0a1e2d;
    width: 60%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


/* ------ form part ------*/
.contactform{
	border: 1px solid #0a1e2d;
	margin: 30px 80px 80px 80px;
}
.contactwrite{
	padding: 55px 35px 55px 35px
}

.contactbox input{
	border: none;
    background: transparent;
    color: #6d7d84;
    font-size: 21px;
    font-family: "Impact";
}
.hrblue{
    border-top: 1px solid #20cbaf;
    margin-top: 3px;
    margin-bottom: 3px;
}
.contactbox{
    margin-top: 70px;
}
.contactbox::ng-deep.mat-raised-button {
    background: #20cbaf;
    color: #fff;
    width: 36%;
    height: 43px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.info{
	background-color: #0a1e2d;
	position: relative;
	height: 100.1%;
	color: #fff;
    padding: 56px 30px 0 30px;
    margin-top: -1px;
}
.infotext{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.infotext h5{
	font-family: "Impact";
}
.infoimg{
    width: 100%;
    border-bottom: 4px solid #20cbaf;
}
.margtext{
    margin-top: 50px;
}





/* --------- media ---------- */

@media screen and (max-width: 1250px) {
	.contactform {
	    border: 1px solid #0a1e2d;
	    margin: 30px 65px 80px 65px;
	}
	.contactwrite {
	    padding: 55px 30px 55px 30px;
	}
	.info {
	    padding: 56px 25px 0 25px;
	    font-size: 11px;
	}
	.contactbox input{
	    font-size: 20px;
	}
	.contactbox {
	    margin-top: 59px;
	}	
}

@media screen and (max-width: 1090px) {
	.homepg {
	    margin-top: 115px;
	}
	.title {
	    top: 141px;
	    left: 77px;
	}
	.contactform {
	    border: 1px solid #0a1e2d;
	    margin: 30px 50px 80px 50px;
	}
}