 <div class="container">

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sgininpopup">
    Open modal
  </button> -->

  <!-- The Modal -->
  <div class="modal fade" id="sgininpopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-md-6 col-sm-1 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-md-6 col-sm-12 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" class="closeimg"></button>
        			<br><br>
        			<div class="row align-center">
        				<div class="col-12">
        					<img src="./assets/images/logo.svg" class="logoimgs">
        				</div>
        			</div>
        			<br>
		            <h2><b class="colorlightblue">Log In</b> </h2>

		            <div class="box">
		            	  <div class="row">
							<div class="col-12">
								<div class="boxdetails">
									<input  name="" placeholder="Email Address" >
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-12">
								<div class="boxdetails boxdetailspadding">
									
									<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" >
    								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
								</div>
								<div class="signinbutt">
									<a ><p class="forgetpass"><span class="cursorpointer">FORGOT PASSWORD</span></p></a>
								</div>

							</div>

						</div>
		            </div>

		            <div class="sgininbtn">
		            	<button mat-raised-button><b>LOG IN</b></button>
		            </div>

		            <div class="row align-center">
        				<div class="col-12">
        					<h6><b class="colorgreen cursorpointer">CREATE NEW ACCOUNT</b></h6>
        					<p class="colorgrey terms"><span class="cursorpointer">Terms and Conditions</span> | <span class="cursorpointer">Privacy Policy</span></p>
        				</div>
        			</div>





		          

        		</div>
        	</div>

        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>

</div>



