.modal-header{
  border: none;
}
.modal-body{
  /*padding: 0;*/
}
.modal-content{
  border-radius: 0;
  border: none;
  background-color: transparent;
}
.signoutimg{
  width: 112px;
  margin-bottom: 16px;
}
.align-end{
  text-align: end;
}
.align-start{
  text-align: start;
}
.align-center{
  text-align: center;
}
.align-justify{
  text-align: justify;
}
.colorgreen{
  color: #20cbaf;
}
.colorgrey{
  color: #606060;
}
.colordarkblue{
  color: #0a1e2d;
}
.colorlightblue{
  color: #19456b !important;
}
.colorlightgrey{
  color: #6d7d84;
}
.terms{
  margin-top: 15px;
}

.underline{
  text-decoration: underline; 
}
.hrgrey{
  border-top: 1px solid #cccccc;
}
.fontfamilyth{
  font-family: Proxima Nova Th;
}
.bookingdetails{
  background: #edf7f5;
  margin: -9px -20px 10px -20px;
  padding: 14px 20px 10px 20px;
}

.modal-footer{
  border: none;
}
button:focus {
  outline:none !important;
}

.closeimg{
  width: 25px;
}
.align-start{
  text-align: start;
}
.box{
  margin-top: 55px;
}
.boxpadding{
  padding: 9px 20px 0 20px;
  background-color: #fff;
}
.doneimg{
  width: 19px;
}
.center::ng-deep.mat-button {
  margin: 20px 0 10px 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.boxdetails{
  background: #fff;
  border: 1px solid #cccccc;
  padding: 6px 2px 7px 2px;
  font-size: 12px;
  margin-bottom: 25px;
}
.boxdetailspadding{
  margin-bottom: 8px;
}

.boxdetails input{
  background: transparent;
  border: none;
  width: 88%;
  font-size: 15px;
  font-weight: 600;
  color: #606060;
  padding: 1px 5px 0px 5px;
}
.boxdetails input::placeholder{
  font-weight: 600;
  color: #606060;

}
input:focus {
  outline:none !important;
}
.boxdetailsimg{
  margin: 0 5px 0 5px;
  width: 14px;
  padding: 0 0 0px 0px;
}

.boxdetails::ng-deep.mat-icon{
  font-size: 18px;
  color: #777;
  height: 18px;
  width: 21px;
  vertical-align: middle;
}

.popupimg{
  width: 100%;
  height: 100%;
}

.forgetpass{
  text-align: end;
  color: #20cbaf;
  font-size: 12px;
  font-weight: 900;
  text-decoration: underline;
 
}
.cursorpointer{
  cursor: pointer;
}


.doneimg{
  width: 15px;
  margin: 0 3px 0 3px;
}

.signupgrey{
  font-size: 10px;
  text-align: center;
  color: #777777;
}
.paggingimg{
  background-image: url(/../assets/images/popup.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

.sgininbtn::ng-deep.mat-raised-button {
  background: #20cbaf;
  color: #fff;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 0;
  box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14); 
}

/* -----------------loading  button -----------------*/
@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: #B5DDF0;
  }
  50% {
    background-color: #CFE9F6;
  }
  100% {
    transform: scale(1);
    background-color: #FFFFFF;
  }
}
.btn {
  align-items: center;
  background: #5AC3E8;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-flex;
/*  height: 36px;*/
  justify-content: center;
  min-width: 90px;
}
.btn.btn--loading {
  font-size: 0;
}
.btn.btn--loading span {
  display: flex;
}
.btn.btn--loading span b {
  animation-direction: alternate;
  animation-duration: 5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: stretch;
  animation-play-state: running;
  animation-timing-function: ease-out;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
  animation-delay: .1s;
  margin: 0 5px;
  margin-top: -20px;
}
.btn.btn--loading span b:first-child {
  animation-delay: 0s;
  margin: 0;
   margin-top: -20px;
}
.btn.btn--loading span b:last-child {
  animation-delay: .2s;
  margin: 0;
   margin-top: -20px;
}
.btn b {
}
.btn span {
  display: none;
}

/* ----------------- loading button -----------------*/




@media (min-width: 800px){
  .modal-dialog {
    max-width: 777px;

  }
}

@media screen and (max-width: 769px) {
  .paggingimg{
    display: none;
  }
  .boxdetails input{
    width: 80%;
  }
}
