@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
	margin: 0;
    height: 100%;
    font-size: 13px;
    font-family: Proxima Nova Cn Rg;
    padding-right: 0 !important;
    overflow-x: hidden;

}
html {
  overflow-y: scroll !important;
}
@font-face {
    font-family: "Impact";
    src: url('../src/assets/font/impact.ttf') format('truetype');
  /* src: url('../src/assets/font/impacted.ttf') format('truetype');*/
}

@font-face {
    font-family: Proxima Nova Bl;
    src: url('../src/assets/font/ProximaNova-Black.otf') format("opentype");
}
@font-face {
    font-family: Proxima Nova Rg;
    src: url('../src/assets/font/ProximaNova-Bold.otf') format("opentype");
}
@font-face {
    font-family: Proxima Nova Cn Lt;
    src: url('../src/assets/font/ProximaNovaCond-Light.otf') format("opentype");
}

@font-face {
    font-family: Proxima Nova Cn Rg;
    src: url('../src/assets/font/ProximaNova-Regular.otf') format("opentype");
}
@font-face {
    font-family: Proxima Nova Th;
    src: url('../src/assets/font/ProximaNova-Extrabold.otf') format("opentype");
}
/*@font-face {
    font-family: Pacifico;
    src: url('../src/assets/PACIFICO.TTF') format("opentype");
}*/
@font-face {
    font-family: "JF Flat Light";
    src: url('../src/assets/font/JF-Flat-light.eot');
    src: url('../src/assets/font/JF-Flat-light.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/font/JF-Flat-light.svg#JF Flat Light') format('svg'),
    url('../src/assets/font/JF-Flat-light.woff') format('woff'),
    url('../src/assets/font/JF-Flat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "JF Flat Regular";
    src: url('../src/assets/font/JF-Flat-regular.eot');
    src: url('../src/assets/font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/font/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../src/assets/font/JF-Flat-regular.woff') format('woff'),
    url('../src/assets/font/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JF Flat Medium";
    src: url('../src/assets/font/JF-Flat-medium.eot');
    src: url('../src/assets/font/JF-Flat-medium.eot?#iefix') format('embedded-opentype'),
    url('../src/assets/font/JF-Flat-medium.svg#JF Flat Medium') format('svg'),
    url('../src/assets/font/JF-Flat-medium.woff') format('woff'),
    url('../src/assets/font/JF-Flat-medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
button:focus , input:focus{
  outline: none !important;
}

:focus{
  outline: none !important;
}
:active{
  outline: none !important;
}

p{
    font-family: Proxima Nova Cn Rg;
}

h1{
    font-size: 37px;
    font-family: "Impact";
}
h2{
    font-size: 28px;
    font-family: Impact;
}
h3{
    font-size: 24px;
}
h4{
   font-size: 21px;
}
h5{
    font-size: 16px;

}
h6{
    font-size: 14px;
}



@media screen and (max-width: 1240px) {
    body{
        font-size: 12px;
    }
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 27px;
    }
    h3{
        font-size: 22px;
    }
    h4{
       font-size: 19px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 13px;
    }

}


@media screen and (max-width: 1024px) {
    body{
        font-size: 12px;
    }
    h1{
        font-size: 19px;
    }
    h2{
        font-size: 17px;
    }
    h3{
        font-size: 15px;
    }
    h4{
       font-size: 14px;
    }
    h5{
        font-size: 13px;
    }
    h6{
        font-size: 13px;
    }

}
