 <div class="container">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookingsuccesspopup">
    Open modal
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="bookingsuccesspopup">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <!-- <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div> -->

        <!-- Modal body -->
        <div class="modal-body ">
        	<div class="row">
        		<div class="col-md-6 col-sm-1 paggingimg">
        			<!-- <img src="./assets/images/popup.jpg" class="popupimg"> -->
        		</div>
        		<div class="col-md-6 col-sm-12 boxpadding">
        			<button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" class="closeimg"></button>
        			<br><br>
        			<div class="row align-center">
        				<div class="col-12">
        					<img src="./assets/images/booked success.png" class="logoimgs">

        					<h2><b class="colorlightblue">Booked Successfully</b> </h2>
        					<br>

        					<h5 class="colorlightgrey"><b>Your session is booked on <span class="colorgrey fontfamilyth">  Tue, 23 Jul 2019 </span></b></h5>
        					<h5 class="colorlightgrey"><b>Don’t forget to be online on time.</b></h5>
        				</div>
        			</div>
        			<br>


		            <div class="sgininbtn">
		            	<button mat-raised-button><b>DONE</b></button>
		            </div>

        		</div>
        	</div>

        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>

</div>



